*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#box{
    width: 1100px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left:auto;

}

/* regola heder */
header{
    height: 50px;
    background-color: rgb(245, 156, 215);
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    /* debug */
    /* border: solid 2px blue; */
}

.row-due{

    margin-bottom: 5px;

    /* debug */
    /* border: solid 2px blue; */
    background-color: blue;
}

.row-due::after{
    content: "";
    display: table;
    clear: both;
}

/* regola footer */
footer{
    height: 25px;
    background-color: blueviolet;
}

.centro{
    float: left;
    width: 100%;

    /* debug */
    height: 200px;
    background-color: rgb(250, 228, 103);

}


/* secondo blocco */
.center2{
    float: left;
    width: 100%;

     
    /* debug */
    height: 50px;
    background-color: rgb(103, 184, 250);

    
}

.colonna{ 
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;

    /* debug */
   height: 500px;

    
}

.prima.colonna {
    width: 270px;
    margin-right: 10px;
   

   /* debug */
   
   background-color: rgb(103, 184, 250);

}

.seconda.colonna {
    width: 540px;
   margin-right: 10px;
   

   /* debug */
  
   background-color: rgb(103, 184, 250);

}

.terza.colonna {
    width: 270px;
    float: right;
   

   /* debug */
   
   background-color: rgb(103, 184, 250);

}