*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#box{
    width: 1100px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left:auto;

}

/* regola heder */
/* header {
        height: 100px;
    
    /* background-color: rgb(245, 156, 215); */


#logo{
    width: auto;
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
    padding-right: 5px;
    border-right: 1px solid gray
}
header ul li{
    display: inline;
}
header ul li a{
    color: #808080;
    margin-right: 5px;
    text-decoration: none;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    /* debug */
    /* border: solid 2px blue; */
}

.row-due{

    margin-bottom: 20px;

    /* debug */
    /* border: solid 2px blue; */
    /* background-color: blue; */
}

.row-due::after{
    content: "";
    display: table;
    clear: both;
}

/* regola footer */
footer{
    text-align: center;
    color: black;
    /* height: 25px;
    background-color: blueviolet; */
}

#cuore{color: red;}

.centro{
    float: left;
    width: 100%;

    /* debug */
    /* height: 200px;
    background-color: rgb(250, 228, 103); */

}

#hero{position: relative;
}
    

#med{
    width: 100%;
    height: 400px;
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 10px;
    
}

#textbanner{
    color: white;
    position: absolute;
    bottom: 60px;
    left: 50px;
}

 #teximg{
    font-size: 30px;

}

#subimg{
    font-size: 15px;
}


/* secondo blocco */

.titolo{
    color: black;
    margin-bottom: 10px;
}
#lead{
    font-family: Arial, Helvetica, sans-serif;
}

.center2{
    float: left;
    width: 100%;
    margin-bottom: 20px;

     
    /* debug */
    /* height: 50px;
    background-color: rgb(103, 184, 250); */

    
}

.colonna{ 
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;

    /* debug */
   /* height: 500px; */

    
}

.prima.colonna {
    width: 270px;
    margin-right: 10px;
   

   /* debug */
   
   /* background-color: rgb(103, 184, 250); */

}

.seconda.colonna {
    width: 540px;
   padding-left: 10px;
   padding-right: 10px;
   

   /* debug */
  
   /* background-color: rgb(103, 184, 250); */

}



.imgpar{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    filter: brightness(70%);
    margin-bottom: 20px;

}

.terza.colonna {
    width: 270px;
    float: right;
   

   /* debug */
   
   /* background-color: rgb(103, 184, 250); */

}