*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#box{
    width: 1100px;
    margin-top:20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left:auto;

}

/* regola heder */
/* header {
        height: 100px;
    
    /* background-color: rgb(245, 156, 215); */


#logo{
    width: auto;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}
header ul li{
    display: inline;
}
header ul li a{
    color: grey;
    margin-right: 5px;
    text-decoration: none;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
    /* debug */
    /* border: solid 2px blue; */
}

.row-due{

    margin-bottom: 5px;

    /* debug */
    /* border: solid 2px blue; */
    /* background-color: blue; */
}

.row-due::after{
    content: "";
    display: table;
    clear: both;
}

/* regola footer */
footer{
    text-align: center;
    /* height: 25px;
    background-color: blueviolet; */
}

#cuore{color: red;}

.centro{
    float: left;
    width: 100%;

    /* debug */
    /* height: 200px;
    background-color: rgb(250, 228, 103); */

}

#med{
    object-fit: contain;
    border-radius: 10px;
    position: relative;
}


/* secondo blocco */
.center2{
    float: left;
    width: 100%;

     
    /* debug */
    /* height: 50px;
    background-color: rgb(103, 184, 250); */

    
}

.colonna{ 
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;

    /* debug */
   /* height: 500px; */

    
}

.prima.colonna {
    width: 270px;
    margin-right: 10px;
   

   /* debug */
   
   /* background-color: rgb(103, 184, 250); */

}

.seconda.colonna {
    width: 540px;
   padding-left: 10px;
   padding-right: 10px;
   

   /* debug */
  
   /* background-color: rgb(103, 184, 250); */

}

.imgcl{
    object-fit: contain;
    border-radius: 5px;
}

.terza.colonna {
    width: 270px;
    float: right;
   

   /* debug */
   
   /* background-color: rgb(103, 184, 250); */

}